# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# 가상환경
venv/
env/
.venv/

# 편집기/IDE
.vscode/
.idea/

# 테스트/빌드 결과물
dist/
build/
*.egg-info/
.pytest_cache/
